.App {
  text-align: center;
}
nav{
 margin-top: 20px;
  height: 60px;
  text-align: end;
  align-content: center;
  margin-right: 80px;
}
a.nav-item{
  display: inline-block;
  width:120px;
  font-size: 18px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color:black;
}
.welcome{
  font-family: 'Times New Roman', Times, serif;
  font-size: 130px;
  font-weight: lighter;
  margin: 0px;
  margin-top: 180px;;
}
.portfolio{
  font-family: 'Parisienne', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 220px;
  margin: 0px;
}
.footer-section{
  display: inline-block;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin: 100px;
  margin-bottom: 30px;

}
.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: end;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;;
  background-color: white;
}
.about-section{
  text-align: start;
  margin-left: 80px;
  margin-right: 80px;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.about-text{
  width: 40%;
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-family: Arial, sans-serif;
  font-weight: lighter;
}
.project-text{
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: black;
}
.projects-text{
  font-family: Arial, sans-serif;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.about{
  border-bottom: 1px solid black;
  text-decoration: none;
  color: black;
}
.ellipse{
  display: block;
  margin-left: 70%;
  margin-bottom: 0px;
}
.hobbies{
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
}
.hobbies-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.grid{
  display: flex;
}
.description{
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  border: 1px solid black;
  padding: 10px;
}
.design-develope{
  margin: 10px;
  padding: 10px;

}
.design-develope-container a{
  text-decoration: none;
  color: black;
  border: 1px solid black;
}
.about-section{
  margin-bottom: 150px;
}
.strum{
  display: flex;
}
.projects-images{
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 20px;
}
.projects-image{
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 20px;
}
.cloudmine{
  border-top: 1px solid black;
  display: flex;
}

@media screen and (max-width: 480px) {
  nav{
    margin-top: 20px;
  height: 60px;
  text-align: center;
  align-content: center;
  margin-right: 0px;
  }
  .welcome{
    font-size: 40px;
    margin: 0px;
    margin-top: 180px;;
  }
  .portfolio{
    font-size: 80px;
    margin: 0px;
  }
  .footer-section{
    font-size: 12px;
    margin: 10px;
    margin-bottom: 10px;
  
  }
  a.nav-item{
    width:60px;
    font-size: 12px;
  }
  .about-section{
    text-align: start;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
  }
  .about-text{
    width: 98%;
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: lighter;
  }
  .hobbies-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
  }
  .hobbies img{
    height: 100px;
  }
  .hobbies{
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 0px;
  }
  .description{
    border: 0px;
  }
  .strum{
    display: block;
  }
  .projects-images img{
    height: 500px;
  }
  .projects-image img{
    height: 1900px;
  }
  .cloudmine{
    display: block;
  }

}
